* {
    padding:0px;
	margin:0px;
  }
  .container 
  {
    padding-top:80px;
    width:60%;
	margin:auto;
	background-color:black;
	color:white;
	height:75vh;
  }
  .content
  {
    display:flex;
	justify-content:space-around;
	width:80%;
	margin:auto;
	border:1px solid grey; 
	padding-top:15px;
	height:15vh;
  }
  span
  {
    display:block;
  }
  .rad 
  {
	padding-top:30px;
  }
  .ampm 
  {
    width:20%;
	float:right;
    padding-right:10px;	 
  }
   
/* Media Query */
   
  @media(max-width:575px)
  {
   .container 
   {
	 width:100%;
	 height:85vh;
   }
   .content 
   {
	 width:90%;
   }
   .ampm 
   {
	 padding-right:30px;
   }
  }
  @media(min-width:576px)
  {
   .container 
   {
	 width:100%;
	 height:85vh;
   }
   .content 
   {
	 width:80%;
   }
   .ampm 
   {
	 padding-right:30px;
   }
  }
  @media(min-width:768px)
  {
   .container 
   {
	 width:60%;
   }
   .ampm 
   {
	 padding-right:30px;
   }
  }
  @media(min-width:992px)
  {
   .container 
   {
	 width:70%;
   }
   .ampm 
   {
	 padding-right:30px;
   }
  }
  @media(min-width:1280)
  {
   .container 
   {
	 width:60%;
   }
   .ampm 
   {
	 padding-right:30px;
   }
  }